<div [class]="body3class">
  
  <div [class]="tittle">
    <br>
    <h1><span>My Skills</span></h1>
  
  <div [class]="skill">

      <ul>
          <li>JAVA <br>
                  <progress value="75" min="0" max="100"> </progress>
          </li>
          <li>KOTLIN <br>
                  <progress value="60" min=0 max="100"> </progress>
          </li>
          <li>HTML AND CSS <br>
                  <progress value="70" min="0" max="100"></progress>
          </li>
          <li>JAVA WEB <br>
            <progress value="10" min="0" max="100"> </progress>
          </li>
              <li>ANDROID <br>
              <progress value="50" min="0" max="100"> </progress>
          </li>
          <li>JAVASCRIPT <br>
            <progress value="60" min="0" max="100" > </progress>  
          </li>
          <li>ANGULAR <br>
            <progress value="14" min="0" max="100" > </progress>  
          </li>
          <li>TYPECRIPT <br>
            <progress value="30" min="0" max="100" > </progress>  
          </li>
          


        
        </ul>

  </div>
  
 </div>
</div>
