<div [class]="body2class">
  <div [class]="Aboutme">
    <h1 [class]="title"><span>About Me</span></h1>

    <p [class]="details"> 
        Hey ! i'm <b>Yohan Malshika </b>.and i am undergraduate in sabaragamuwa university of sri lanka. I am trying to complete my targets as a software developer and I contributing many projects as developer.I am working on Mobile application development with android technologies and also i am working on web application development.I am skilled in java , kotlin ,android,Web technologies, javascript , typescript and angular js. I am enthusiastic and I work with decisiveness and conviction.I am enthusiastic and I work with decisiveness and conviction.always i want to learn my self and try to understand it. 
    </p>
    <BR>
    <p [class]="quote">"self learner and trying to do right things"</p>
    
  </div>

</div>
